/* Author: Cristian Gonzales
 *
 */

/* Importing the Space Mono font to be used through the entire website */
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

.space-mono
{
    font-family: 'Space Mono', monospace;
}

.custom-col
{
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}
